@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif; 
    text-decoration: none;
    list-style: none;
}

:root{
    --color-orange: #f93
}
.container{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 1.4px solid #eaeaea;
    position: fixed;
    background-color: #fff;
}
.first-menu{
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 5rem;
    margin-right: 20px;
    cursor: pointer;
}
.menu ul{
    display: flex;
}
.item-menu{
    display: flex;
    padding: 0 20px;
}
.link-menu{
    font-size: 12px;
    color: #3a3a3a;
    text-transform: uppercase;
    transition: color 0.4s;
}
.link-menu:hover{
    color:var(--color-orange);
}
.second-menu{
    display: flex;
    align-items: center;
    position: fixed;
    right: 5rem;
}
.search{
    border-radius: 40px;
    background-color: #eaeaea;
}
.search input{
    border: none;
    outline: none;
    background: none;
    color: #3a3a3a;
    padding: 0;
    float: left;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    text-align: center;
}
#span-search{
    font-size: 12px;
    color: #3a3a3a;
    text-transform: uppercase;
    padding-left: 20px;
}
.btn-search{
    float: right;
    color: var(--color-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eaeaea;
}
.btn-search:hover{
    background-color: var(--color-orange);
    color: #fff;
}
.search:hover > #search-input{
    width: 200px;
    padding: 0 6px;
}
.cart{
    padding-left: 20px;
    position: relative;
}
.signal-1{
    position: fixed;
    right: 85px;
    top: 7px;
}
.show-cart .signal-1{
    display: none;
}
.signal-quantity{
    width: 10px;
    position: absolute;
    height: 10px;
    background-color: #e74c3c;
    right: -6px;
    font-size: 13px;
    border-radius: 50%;
    color: #fff;
    padding: 5px;
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.btn-cart{
    color: var(--color-orange);
    background-color: #eaeaea;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-cart:hover{
    color: #fff;
    background-color: var(--color-orange);
}
.aside-menu{
    position: fixed;
    left: -350px;
    top: 3rem;
    background-color: #fff;
    width: 350px;
    height: 100vh;
    transition: all 500ms;
    z-index: 501;
    opacity: 1;
}
.show-menu .aside-menu{
    left: 0;
}
.show-menu .opacity-menu{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 3rem;
    right: 0;
    z-index: 500;
    width: 100%;
}
.aside-menu ul{
    text-align: center;
    padding-top: 40px;
}
.aside-menu li{
    padding: 0px 0 40px 15px;
}
.aside-menu li:hover{
    border-left: 1px solid #f80
}
.aside-menu li:focus{
    border-left: 1px solid #f80 ;
    /* background-color: #f80; */
}
.aside-menu li svg{
    font-size: 23px;
    margin-right: 10px;
}
.aside-menu li img{
    margin-right: 10px;
}
.aside-menu a{
    color: #2d323a;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
}
.bars{
    display: none;
}
.title{
    color:var(--color-orange);
    font-size: 1.5rem;
    padding: 3rem 0 0 3rem;
    text-transform: uppercase;
}
.show-cart .title{
    opacity: 0.5;
}
.search-false{
    color: #2d323a;
    font-size: 1.5rem;
}
.search-false h3{
    margin-top: 12px;
    font-weight: 500;
}
.search-false span{
    font-size: 13px;
}
.search-true{
    color: #2d323a;
    font-size: 1.5rem;
}
.search-true h3{
    font-weight: 500;
    text-transform: none;
}
.search-true span{
    font-weight: normal;
    font-size: 13px;
    text-transform: none;
}
.products-natura{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: center;
    
}
.card-products{
    width: 270px;
    height: 400px;
    margin: 0 16px 32px 16px;
    border-radius: 5px;
    border: 1px solid  #00000040;
    transition: border 0.5s;
    cursor: pointer;
}
.show-cart .card-products{
    opacity: 0.5;
}
.card-products:hover{
    border: 1px solid #eaeaea;
}
.wraper{
    width: 100%;
    height: 60%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-cart .wraper{
    opacity: 0.5;
}
.wraper img{
    width: 88%;
    height: 88%;
    object-fit: cover;
}
.card-info{
    width: 100%;
    height: 40%;
}
.name-product{
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
}
.price{
    margin-top: 15px;
    font-size: 1.4rem;
    text-align: center;
    color: var(--color-orange);
    margin-bottom: 20px;
}
.btn-buy{
    font-size: 1rem;
    border: 0.2px solid #000;
    text-transform: uppercase;
    color: #3a3a3a;
    padding: 7px 44px;
    margin-left: 38.5px;
    transition: all .5s;
}
.btn-buy:hover{
    color: var(--color-orange);
    border: 0.2px solid var(--color-orange);
}
.card-info svg{
    margin-left: 10px;
}

.show-cart .opacity{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 500;
    width: 100%;
}
.hidden-scroll body{
    overflow: hidden;
} 

.aside-cart{
    height: 100vh;
    overflow: auto;
    width: 350px;
    overflow-x: hidden;
    z-index: 501;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -350px;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    opacity: 1;
    transition: all 0.6s;
}
.show-cart .aside-cart{
    right: 0;
}
#icon-close{
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 25px;
    color: #000000;
    transition: color 1s;
}
.icon-close:hover{
    color: var(--color-orange);
}
.title-cart{
    color:#000;
    font-size: 1rem;
    padding: 1rem 0 1rem 0rem;
    text-transform: uppercase;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 0rem;
    text-align: center;
}
.my-cart{
    width: 100%;
    height: 50%;
}
.my-products{
    padding: .5rem 0 .5rem 1.5rem;
    border-bottom: 1px solid #eaeaea;
    text-transform: uppercase;
    font-size: 13px;
    color: #A9A9A9;
    margin-bottom: 3rem;
}
.cart-products{
    height: 150px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow:hidden;
}
.cart-wraper{
    padding: 1rem 0.5rem 1rem 0.5rem;
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.cart-wraper img{
    width: 100%;
    height: 100%;
}
.cart-name{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding-top: 1rem;
    max-width: 200px;
    height: 40px;
}
.cart-trash{
   height: 20px;
   position: absolute;
   top: 20px;
   right: 30px;
}
.cart-trash svg{
    color: #000000;
    /* margin-top: 2rem;
    margin-left: 3rem;
    display: inline-block; */
}
.cart-quantity{
    position: absolute;
    bottom: 1rem;
    /* width: 90px; */
    height: 30px;
    font-size: 1.1rem;
    left: 3rem;
    outline: none;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    text-align: center;
} 
.side-quantity{
    border: none;
    text-align: center;
    background-color: #fff;
    width: 30px;
    cursor: pointer;
    outline: none;
    color: #636363;
    font-size: 18px;
}
.middle-quantity{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1.1rem;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    outline: none;
    border-top: none;
    border-bottom: none;
}
.middle-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.cart-price{
    color: var(--color-orange);
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    font-size: 1.5rem;
}
.cart-clear{
    text-transform: uppercase;
    padding: 0 2rem 0 2rem;
    text-align: center;
    font-size: 1rem;
    color: #000;
    margin-top: 55%;
}
.footer-products{
    width: 351px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid #eaeaea;
    background-color: #f80;
    z-index: 1000;
}
#footer-products{
    display: none;
}
.footer-products-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}
.footer-products span{
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
}
.footer-products-btn{
    height: 50px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.footer-products button{
    display: block;
    padding: 7px 44px;
    margin: auto;
    border: none;
    outline: none;
    border-radius: 5px;
    /* border: 0.2px solid rgb(27, 25, 25); */
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 0.4s;
    color: #fff;
    background-color: #f80;
    box-sizing: border-box;
}
.footer-products-btn button svg{
    margin-left: 10px;
}
.footer-products-btn button:hover{
    /* color: var(--color-orange); */
    border: 1px solid #fff;
}
footer{
    width: 100%;
    height: 370px;
    background-color: #2d323a;
}
.footer-form{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-color: #fff;
    padding-bottom: 40px;
}
.footer-form-info span{
    font-size: 13px;
}
.footer-form input[type="text"], input[type="email"]{
    padding: 10px;
    margin-left: 5px;
    outline: none;
    border: 1px solid #808080;
    width: 200px;
}
.footer-form input[type="text"]{
    margin-left: 30px;
}
.footer-form input[type="submit"]{
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
    width: 150px;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--color-orange);
    transition: color 3s;
}
.footer-form input[type="submit"]:hover{
    background-color: #f70;
}
.footer-links{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}
.footer-links h3{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 16px;
    width: 12rem;
}
.footer-topics li{
    margin-bottom: 5px;
}
.footer-topics li a{
    color: #ffffff99;
    font-size: 13px;
}
.footer-topics li a:hover{
    text-decoration: underline;
}
.footer-social-media ul{
    display: flex;
    justify-content: space-between;
    width: 7rem;
}
.footer-topics-social a{
    font-size: 20px;
    color: #ffffff99;
}
.footer-topics-social a:hover{
    color:#eaeaea;
}
.footer-info{
    color: #ffffff99;
    font-size: 13px;
    margin-left: 53px;
    margin-top: 23px;
}
.footer-mobile{
    display: none;
}
.footer-mobile-social-media{
    display: none;
}
/* Tablet 930px */
@media screen and (max-width: 958px){
    .second-menu{
        right: 2rem;
    }
}
@media screen and (max-width: 903px){
    .card-products{
        margin: 0px 10px 32px 10px;
    }
    .logo{
        margin-left: 2rem;
    }
    .item-menu{
        padding: 0 10px;
    }
}
/* Tablet 855px */
@media screen and (max-width:855px){
    .footer-form input[type="text"], input[type="email"] {
        width: 159px;
    }
}
/* Tablet 785px */
@media screen and (max-width: 785px){
    .footer-form input[type="text"], input[type="email"]{
        width: 110px;
    }
    .footer-form input[type="submit"]{
        width: 100px;
    }
    .footer-links h3{
        width: auto;
    }
    .footer-info{
        margin-left: 60px;
    }
    .signal-quantity{
        right: -56px;
    }
    .bars{
        display: none;
    }
    .footer-mobile{
        display: none;
    }
    .footer-mobile-social-media{
        display: none;
    }
    #span-search{
        display: none;
    }

}
/* Tablet 620px */
@media screen and (max-width: 620px){
    .footer-form input[type="text"], input[type="email"]{
        width: 50px;
    }
    .item-menu{
        padding: 0 5px;
    }
    .logo{
        margin-left: 1rem;
        margin-right: 0;
    }
    .second-menu{
        right: 1rem;
    }
}
/* Mobile 534px */
@media screen and (max-width: 534px){
    .menu{
        display: none;
    }
    #span-search{
        display: none;
    }
    .first-menu{
        position: relative;
        width: 100%;
    }
    .logo{
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .bars{
        width: 40px;
        height: 40px;
        background-color: #eaeaea;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-left: 20px;
        color: var(--color-orange);
        position: absolute;
        left: 1px;
    }
    .bars:hover{
        background-color: var(--color-orange);
        color: #fff;
    }
    .title{
        font-size: 16px;
        text-align: center;
        padding: 3rem 0 0 0;
    }
    .products-natura{
        margin: 3rem 3rem 2rem 3rem;
    }
    .card-info{
        display: grid;
    }
    .btn-buy{
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    footer{
        height: 600px;
        position: relative;
    }
    .footer-form{
        display: block;
    }
    .footer-form-info{
        padding-bottom: 20px;
        text-align: center;
    }
    .form-publicity{
        display: grid;
    }
    .footer-form input[type="text"], input[type="email"]{
        margin: auto;
        margin-bottom: 10px;
        width: 225px;
    }
    .footer-form input[type="submit"]{
        margin: auto;
        width: 200px;
    }
    .footer-links{
        display: none;
        text-align: center;
    }
    .footer-mobile{
        text-align: center;
        padding-top: 35px;
        display: block;
    }
    .footer-mobile-social-media{
        display: block;
    }
    .footer-mobile-list li a{
        color: #ffffff99;
        font-size: 13px;
    }
    .footer-mobile-link {
        color: #fff;
        text-transform: uppercase;
        line-height: 40px;
        display: block;
    }
    .footer-mobile-list li{
        padding-bottom: 5px;
    }
    .footer-mobile ul{
        display: none;
    }
    .footer-mobile ul:target{
        display: block;
    }
    .footer-topics-social{
        display: flex;
        justify-content: center; 
    }
    .footer-topics-social li{
        padding: 10px 5px 5px 5px;
    }
    .footer-info{
        bottom: 20px;
        position: absolute;
        margin-left: 88.5px;
    }
    
}
/* Mobile 280px */
@media screen and (max-width:280px){
    .btn-buy svg{
        display: none;
    }
}